<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= stylePath %>">
    <style>
        img {
            max-width: 960px;
            width: 100%;
        }
        
        figure {
            text-align: center;
            font-size: 80%;
        }
        
        p {
            text-align: justify;
        }
        
        a {
            color: blue;
            text-decoration: underline;
        }
        
        li>* {
            display: inline;
        }
        
        body {
            font-size: 1.6em;
        }
        
        body,
        p,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Lato', sans-serif;
        }
        
        .container {
            padding: 4rem 2rem;
        }
        
        .title {
            font-weight: bold;
        }
    </style>
    <title>
        <%- title %>
    </title>
</head>

<body>
    <div class="container">
        <div class="info">
            <h3 class="title">
                <%- title %>
            </h3>
            <p>
                <a href="<%- href %>">
                    <%- hostname %>
                </a>
            </p>
            <h5>
                <%- excerpt %>
            </h5>
        </div>
        <hr>
        <div>
            <%- content %>
        </div>
    </div>
</body>

</html>