<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= stylePath %>" />
    <title><%- title %></title>
  </head>

  <body>
    <div class="container">
      <div>
        <div class="title-container">
          <h1><%- title %></h1>
          <p class="info">
            <a href="<%- href %>"> <%- hostname %> </a> *
            <span> <%- createdAt %> </span>
          </p>
        </div>
        <div class="excerpt">
          <p><%- excerpt %></p>
        </div>
      </div>
      <hr />
      <div><%- content %></div>
      <p class="footer info">
        <a href="<%- href %>"> <%- hostname %> </a> *
        <span> <%- createdAt %> </span>
      </p>
    </div>
  </body>
</html>
